/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#collapse, #otherdiv, #otherdiv2, #otherdiv3 {
	height:auto;
	transition-timing-function: ease-in-out;
	transition: all 2s;
}

/* HIDE */
#collapse.hide {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

#otherdiv.hide, #otherdiv2.hide {
	height: 0 !important;
	opacity: 0;
	overflow: hidden;
}


.colored-toast.swal2-icon-success {
	background-color: #a5dc86 !important;
}
	
.colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
	background-color: #87adbd !important;
}

.colored-toast .swal2-title {
	color: white;
}

.colored-toast .swal2-close {
	color: white;
}

.colored-toast .swal2-html-container {
	color: white;
}
.swal2-popup {
	font-size: 1rem !important;
	font-family: 'Poppins', sans-serif !important;
}  